$color_offwhite: #f5f5f5;
$color_cobalt: #428bca;

body {
    padding-top: 50px;
}

.dropdown-menu {
    min-width: 240px;
}

.sidebar {
    display: none;
}

@media (min-width: 800px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        float: right;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: $color_offwhite;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;

    li {
        a {
            padding-right: 20px;
            padding-left: 20px;
        }

        a:hover {
            color: $color_offwhite;
            background-color: $color_cobalt;
        }

        .active a {
            color: $color_offwhite;
            background-color: $color_cobalt;
        }
    }
}
.nav {
    .open {
        > a,
        > a:hover,
        > a:focus {
            background-color: $color_cobalt;
            border-color: $color_cobalt;
            color: $color_offwhite;
        }
    }
}


/* Userprofile custom CSS */
#user-profile-form {
    .media {
        .media-body {
            min-width: 300px;
        }
    }
}

/* Misc */
.markdown {
    margin-right: 15px;
}

.post-row {
    cursor: pointer;
}

.no-padding {
    padding: 0px;
}

.no-padding-sm {
    padding: 15px;
}

@media (min-width:460px) {
    .no-padding-sm {
        padding: 0px;
    }
}

/* Easy to use top padding */
.v-offset {margin-top: 1px;}
.v-offset-1 {margin-top: 2px;}
.v-offset-2 {margin-top: 5px;}
.v-offset-3 {margin-top: 10px;}
.v-offset-4 {margin-top: 20px;}
.v-offset-5 {margin-top: 35px;}
.v-offset-6 {margin-top: 55px;}
.v-offset-7 {margin-top: 80px;}
.v-offset-8 {margin-top: 110px;}
.v-offset-9 {margin-top: 150px;}
.v-offset-10 {margin-top: 200px;}
