<template name="addPost">
    <div class="row-fluid" id="add-post">
        <button type="submit" class="btn btn-default go-to-home">Terug</button>
        {{#autoForm collection="Posts" id="add-post-form" type="insert"}}
            <legend>Artikel toevoegen</legend>
            <p>
                Een artikel toevoegen.
            </p>
            {{> afQuickField name="title"}}
            {{> afQuickField name="description"}}
            {{> afQuickField name="published"}}
            {{> afQuickField name="content"}}
            <button type="submit" class="btn btn-primary">Toevoegen</button>
        {{/autoForm}}
    </div>
</template>
