<template name="viewPost">
    <div class="view-post row">
        <button type="submit" class="btn btn-default" id="back-to-overview">Terug</button>
        {{#with selectedPostDoc }}
        <div class="well-lg">
            <h1>{{title}}</h1>
            <div class="col-md-8">
                <span class="label label-info">Geplaatst op: {{date createdAt 'full'}}</span>
                {{#if updatedAt}}
                <span class="label label-warning">Gewijzigd op: {{date updatedAt 'full'}}</span>
                {{/if}}
            </div>
            <div class="col-md-12 v-offset-3">
                {{description}}
            </div>
        </div>
        <div class="col-md-10 markdown">
            {{#markdown}}{{content}}{{/markdown}}
        </div>
        {{/with}}
    </div>
</template>
