<template name="viewPost">
    <div class="view-post row-fluid">
        <button type="submit" class="btn btn-default go-to-home">Terug</button>
        {{#with selectedPostDoc }}
        <div class="well-lg">
            {{> postMetaData}}
            <div class="col-md-12 v-offset-3">
                {{description}}
            </div>
        </div>
        <div class="col-md-10 markdown">
            {{#markdown}}{{content}}{{/markdown}}
        </div>
        {{/with}}
    </div>
</template>
