<template name="mainLayout">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Inloggen</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">Knowledge</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav">
                    {{> userInfo}}
                    {{#if currentUser}}
                    <li class="dropdown hidden-md hidden-lg">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Beheer</a>
                        <div class="dropdown-menu" style="padding:17px;">
                            <ul class="nav navbar-btn">
                                <li class="hidden-md hidden-lg"><a href="/add-post">Artikel toevoegen</a></li>
                                <li class="hidden-md hidden-lg"><a href="/add-category">Categorie toevoegen</a></li>
                            </ul>
                        </div>
                    </li>
                    {{/if}}
                    {{#unless hideForRelease}}
                    <li class="dropdown hidden-md hidden-lg">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Categori&#235;n</a>
                        <div class="dropdown-menu" style="padding:17px;">
                            <ul class="nav navbar-btn">
                                {{> categoriesListing}}
                            </ul>
                        </div>
                    </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid no-padding">
        <div class="row-fluid">
            {{> notifications}}
        </div>
        {{#if currentUser }}
        <div class="row-fluid">
            <div class="col-sm-2 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Beheer</a>
                        <div class="dropdown-menu">
                            <ul class="nav">
                                <li><a href="/add-post">Voeg artikel toe</a></li>
                                <li><a href="/add-category">Voeg categorie toe</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {{/if}}
        <div class="col-sm-8 col-md-8 col-md-offset-2 main">
            {{> yield}}
        </div>
    </div>
</template>
