<template name="mainLayout">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Inloggen</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">Knowledge</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav">
                    {{> userInfo}}
                    {{#if currentUser}}
                    <li class="hidden-md hidden-lg"><a href="/add-post">Artikel toevoegen</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            {{> notifications}}
        </div>
        {{#if currentUser }}
        <div class="row">
            <div class="col-sm-2 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/add-post">Voeg artikel toe</a></li>
                </ul>
            </div>
        </div>
        {{/if}}
        <div class="col-sm-10 col-sm-offset-3 col-md-11 col-md-offset-2 main">
            {{> yield}}
        </div>
    </div>
</template>
